<!DOCTYPE html>
<html>
  <head>
    <title>Micolet Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="flex flex-col mt-10 w-full h-screen">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
          <img class="mx-auto h-auto w-auto" src="https://d30o7qbghf97ws.cloudfront.net/micolet-logo.svg" alt="Your Company">
          <p class="mt-2 text-center leading-9 tracking-tight text-gray-300 font-bold"><%= t("subtitle_logo") %></p>

          <% flash.each do |message_type, message| %>
            <div class="alert bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded block"><%= message %></div>
          <% end %>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
